<a href="https://colab.research.google.com/github/lauramsromano/categorization_vendas/blob/colab/Aplica%C3%A7%C3%A3o_Regress%C3%A3o_Logistica%2C_KNN_e_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Base - https://archive.ics.uci.edu/dataset/352/online+retail

Categorização de produtos: Utilizando atributos como descrição do produto, preço, categoria ou código do produto, é possível desenvolver modelos de categorização para classificar os produtos em diferentes categorias, como eletrônicos, roupas, alimentos, etc.

Categorização de clientes: Com base em informações dos clientes, como idade, gênero, localização geográfica, histórico de compras, entre outros, é possível criar modelos de categorização para segmentar os clientes em diferentes grupos ou segmentos de mercado.

Categorização de transações: Utilizando atributos como valor da transação, método de pagamento, data e hora da compra, é possível categorizar as transações em diferentes tipos, como compras online, compras em loja física, transações com desconto, entre outros.

> Feito por: Laura Maria de Souza Romano

> E-mail: laura.sromano@hotmail.com

> Linkedin: https://www.linkedin.com/in/laura-maria-de-souza-romano/

In [ ]:
# bibliotecas padrões:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# leitura da base
amostra = pd.read_excel('online_retail.xlsx')
amostra

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
amostra.columns.to_list()

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']